.thumbnail img {
  width: 100%;
}
.thumbnail {
  padding: 0;
}
.thumbnail .caption-full {
  padding: 9px;
}
#delete-form {
  display: inline;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar-links > ul {
  display: flex;
  flex-direction: row;
}

.navbar-links > ul > li {
  padding-right: 10px;
}
